@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Shared Style */
.display-flex{
    display: flex;
}

/* Navbar Related Style */
.navbar{
    max-width: 1440px;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0px auto;
    /* border: 2px solid navajowhite; */
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    gap: 18px;
    align-items: center;    
}

.nav-menu{
    list-style: none;
    align-items: center;
    gap: 24px;   
    font-weight: 500;
    font-size: 1.24rem;    
    /* border: 1px solid salmon;  */
}
.nav-menu a{
    text-decoration: none;
}
#menu-item-1{
    font-weight: 700;
    color: orange;
} 
#menu-item-2{
    color: skyblue;
} 
#menu-item-3{
    color: #05D4DF;
} 
#menu-item-4{
    color: #5D58EF;
} 
#hamburger-menu{
    display:none;
}
.btn-contact
{
    max-width: 200px;
    background-color: orange;
    color: white;
    border-radius: 12px;
    padding: 12px 50px;
    margin: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.horizontal-line{
    display: none;
}
/* Banner related styles */
.banner{
    max-width: 1440px;
    gap: 50px;
    margin: 0px auto;
    align-items: center;
}
.vision-title{
    font-size: 3.8rem;
    font-weight: 700;
}
#empowering{
    color: orange;
}
#towards-vision{
    color: skyblue;
}
.vision-dtls{
    font-size: 1.5rem;
    margin: 24px 0px;
}
.enroll-btn
{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 12px 50px;
    margin: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.curriculam, .stories{
    background-image: url(/images/bg.png);
    max-width: 1440px;
    border: 5px solid navajowhite;
    margin: 0 auto;
}

@media screen and (max-width:576px){
    #school{
        display: none;
    }
    .btn-contact, .menu{
        display: none;
    }
    #hamburger-menu{
        display: block;
    }
    .horizontal-line{
        display:block
    }
    .banner{
        flex-direction: column-reverse;
        margin: 0px auto;
    }
    .vision{
        text-align:center ;
    }
    .banner-img img{
        width: 100%;
    }
}